
<section class="extVideo cid-rRO3L4du79" id="extVideo1-6" data-sortbtn="btn-primary">

    <div class="back"></div>

    <div class="container align-center">
        <div class="col-md-12 col-lg-12 text">
            <!-- <h2 class="mbr-section-title align-center mbr-semibold pb-4 mbr-fonts-style display-2">TORNE SUA EXPERIÊNCIA MAIS REAL</h2> -->
        </div>

        <div class="row justify-content-center">
            <div class="mbr-white box col-md-12 col-12 col-lg-10">
                <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
                    <div class="icon-wrap">
                        <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=x11Iu-yT4ak"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-rRO6toVAna" id="features03-8" data-sortbtn="btn-primary">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mbr-section-title pb-2 mbr-normal mbr-fonts-style align-center display-2"><span style="background-color: rgb(255, 255, 255);">CONHEÇA UM POUCO MAIS </span></h2>
            </div>
        </div>
        <div class="row row-content justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/01.jpg" title="" style>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-normal display-5">Vale dos Cristais</h4>
                        <p class="mbr-text mbr-fonts-style mbr-normal display-4">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </p>
                        <div class="mbr-section-btn"><a href="vale-dos-cristais.html" class="btn btn-primary-outline-2 display-4">
                                <span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Leia Mais<br></a></div>
                    </div>
                </div>

            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/02.jpg" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-normal display-5">Vila Da Serra</h4>
                        <p class="mbr-text mbr-fonts-style mbr-normal display-4">
                            O Vila Da Serra  é sinônimo de tradição e boa localização. Tem uma excelente opção para quem quer viver muito próximo a BH, tendo natureza exuberante, vista encantadora com conforto e segurança.
                        </p>
                        <div class="mbr-section-btn"><a href="vila-castela.html" class="btn btn-primary-outline-2 display-4">
                                <span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Leia Mais<br></a></div>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/03.jpg" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-normal display-5">Bosque do Jambreiro</h4>
                        <p class="mbr-text mbr-fonts-style mbr-normal display-4">
                            O Bosque do Jambreiro é um dos condomínios mais tradicionais da região. Ele fica a apenas 6km do BH Shopping e tem como característica principal a segurança, localizado exatamente ao lado da barreira da Polícia Militar Rodoviária.
                        </p>
                        <div class="mbr-section-btn"><a href="bosque-do-jambreiro.html" class="btn btn-primary-outline-2 display-4">
                                <span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Leia Mais<br></a></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="features7 cid-rTBzBwcOOP" id="features07-23" data-sortbtn="btn-primary">

    <div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style align-left display-2">CASAS EM CONDOMÍNIOS</h2>
        <div class="row row-content justify-content-center">


            <div class="card p-3 col-lg-12 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img cc cc-01">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-01',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-01',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Vale Dos Critais<br>R$1,110 / Semana</h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5">Apartamentos, 3 quartos &nbsp;</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vale dos Cristais, Nova Lima, &nbsp;Minas Gerais</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-outline-warning display-4" style="">
                                    Detalhes</a></div>


                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>

                        
                    </div>

                </div>
            </div>


            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-02">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-02',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-02',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Vale Dos Critais<br>R$1,110 / Semana</h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5">Apartamentos, 3 quartos</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vale dos Cristais, Nova Lima,  Minas Gerais</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-outline-warning display-4">Detalhes</a></div>

                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-03">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-03',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-03',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Vale Dos Cristais<br>R$1,410 / Semana</h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5">Apartamentos, 3 quartos</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Quintas Do Sol, Nova Lima, Minas Gerais</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-outline-warning display-4">
                                    Detalhes</a></div>

                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>
 
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="features7 cid-rTBNF1QSoI" id="features07-24" data-sortbtn="btn-primary">

    <div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style align-left display-2">IMOVEIS COMERCIAIS</h2>
        <div class="row row-content justify-content-center">

            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-04">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-04',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-04',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">                                      
                            <div>1.090,30m²</div></h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5">Apartamentos, 3 quartos &nbsp;&nbsp;</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vale Dos Cristais, Minas Gerais,  Nova Lima</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-primary-outline display-4">
                                    Detalhes</a></div>

                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>
  
                    </div>

                </div>
            </div>

            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-05">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-05',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-05',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">   
                            <div>1.172,51m²</div></h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5">Apartamentos, 3 quartos</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vale Dos Cristais, Minas Gerais, Nova Lima</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-primary-outline display-4">
                                    Detalhes</a></div>

                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-06">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-06',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-06',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Quintas Do Sol                                                     
                            <div>1.108,00m²</div></h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5">Apartamentos, 3 Quartos&nbsp;</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Quintas Do Sol, Minas Gerais, Nova Lima</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-primary-outline display-4">
                                    Detalhes</a></div>

                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>
         
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="features7 cid-rTBTx01xXE" id="features07-25" data-sortbtn="btn-primary">

    <div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style align-left display-2">APARTAMENTOS</h2>
        <div class="row row-content justify-content-center">


            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-07">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-07',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-07',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Vale Dos Cristais                                                
                            <div>320,00m²</div></h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5">Apartamentos, 3 quartos</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vale Dos Cristais, Minas Gerais, Nova Lima</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-primary-outline display-4">
                                    Detalhes</a></div>


                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>

                        
                    </div>

                </div>
            </div>


            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-08">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-08',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-08',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Vila Da Serra                                                         
                            <div>290,00m²</div></h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5">Apartamentos, 3 quartos</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vila Da Serra, Minas Gerais, Nova Lima</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-primary-outline display-4">
                                    Detalhes</a></div>


                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>

                        
                    </div>

                </div>
            </div>

            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img cc cc-09">
                        <img class="img-slide img-01 active" src="assets/images/01.jpg" title="" alt="">
                        <img class="img-slide img-02" src="assets/images/02.jpg" title="" alt="">
                        <i class="fas fa-chevron-left" onclick="before('cc-09',1)"></i>
                        <i class="fas fa-chevron-right" onclick="next('cc-09',2)"></i>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">Vila Da Serra 
                                <div>397,00m²</div></h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5">Apartamentos, 3 quartos</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Vila Da Serra, Minas Gerais, Nova Lima</p>
                                </div>
                            </div>

                            <div class="mbr-section-btn"><a href="#" class="btn btn-primary-outline display-4">
                                    Detalhes</a></div>


                        </div>
                        <div class="description">
                            O Condomínio Residencial Nascentes no Vale dos Cristais oferece um conforto inigualável, aliado à segurança e tranquilidade. Cercado pela paisagem de belas montanhas, ar puro, conforto e qualidade de vida.
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-home"></i> 680,00 m²<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-bed"></i> Quartos 3<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-car"></i> 5 Vagas<br>
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7"><i class="fas fa-shower"></i> 7 Banheiros<br>
                            </p>
                        </div>

                        
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

<section class="features2 cid-rzMUuCByZc" id="features02-4" data-sortbtn="btn-primary">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-normal mbr-fonts-style align-left display-2">IMÓVEIS NO EXTERIOR</h2>

        <h3 class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style align-left display-7"></h3>

        <div class="row row-content justify-content-center">


            <div class="card col-12 col-lg-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="assets/images/04.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Orlando</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">3 Propriedades</h5>

                    </div>
                </div>
            </div>


            <div class="card col-12 col-lg-8 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img big">
                        <img src="assets/images/05.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Florida</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">4 Propriedades</h5>

                    </div>
                </div>
            </div>





            <div class="card col-12 col-lg-8 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img big">
                        <img src="assets/images/06.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Portugal</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">6 Propriedades</h5>

                    </div>
                </div>
            </div>

            <!-- <div class="card col-12 col-lg-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="assets/images/07.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Miami</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">2 Propriedades</h5>

                    </div>
                </div>
            </div> -->

        </div>

    </div>
</section>

<section class="features2 cid-rzMUuCByZc" id="features02-4" data-sortbtn="btn-primary">

    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-normal mbr-fonts-style align-left display-2">IMÓVEIS NO RIO</h2>

        <h3 class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style align-left display-7"></h3>

        <div class="row row-content justify-content-center">

            <div class="card col-12 col-lg-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="assets/images/04.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Angra dos Reis</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">3 Propriedades</h5>

                    </div>
                </div>
            </div>

<!-- 
            <div class="card col-12 col-lg-8 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img big">
                        <img src="assets/images/05.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Las Vegas</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">4 Propriedades</h5>

                    </div>
                </div>
            </div>





            <div class="card col-12 col-lg-8 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img big">
                        <img src="assets/images/06.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">San Francisco</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">6 Propriedades</h5>

                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="assets/images/07.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Miami</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">2 Propriedades</h5>

                    </div>
                </div>
            </div>
 -->

        </div>

    </div>
</section>

<section class="features2 cid-rzMUuCByZc" id="features02-4" data-sortbtn="btn-primary">

    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-normal mbr-fonts-style align-left display-2">IMÓVEIS NA BAHIA</h2>

        <h3 class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style align-left display-7"></h3>

        <div class="row row-content justify-content-center">

            <div class="card col-12 col-lg-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="assets/images/04.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Arrail D'Ajuda</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">3 Propriedades</h5>

                    </div>
                </div>
            </div>


            <div class="card col-12 col-lg-8 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img big">
                        <img src="assets/images/05.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Trancoso</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">4 Propriedades</h5>

                    </div>
                </div>
            </div>

<!-- 
            <div class="card col-12 col-lg-8 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img big">
                        <img src="assets/images/06.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">San Francisco</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">6 Propriedades</h5>

                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="assets/images/07.jpg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-2">Miami</h4>
                        <h5 class="card-sub-title mbr-fonts-style mbr-white mbr-bold display-7">2 Propriedades</h5>

                    </div>
                </div>
            </div> -->

        </div>

    </div>
</section>