/* .banner_back{
   
} */
.btn-luxo{
    border: 2px #997a00 solid !important;
    max-width: 150px;padding: 0px;
    color: #997a00;
  }
.btn-luxo:hover{
  background-color: #997a00;
  color:white !important;
}

.banner_estilo { 
      /*o erro ta ai vc voltou 1 diretorio ../ 2 diretorio ../ 3 diretorio ../ se imagem provavelmente nao ta nesse diretorio ai sacou
       a primeira cois q tu tem que ver é aonde a imagem esta
       na verdade ele nao ta lendo isso aqui kkk
       aonde tu chamou esse aquivo css no html
      */
    background-image: url(../img/mbr-1920x1022.jpg) !important;
    padding-top: 90px !important; 
    padding-bottom: 120px !important;
  }
  .banner_estilo .mbr-section-title,
  .banner_estilo .mbr-section-subtitle {
    color: #000000;
  }
  .banner_estilo .mbr-section-text {
    color: #232323;
  }
  .banner_estilo .mbr-text,
  .banner_estilo .typed-text,
  .banner_estilo .mbr-section-text {
    letter-spacing: 0.03rem;
  }
  .banner_estilo .btn {
    margin-left: 4px !important;
  }
  .banner_estilo .animated-element {
    color: #a99a6c;
  }
  .banner_estilo .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #a99a6c;
  }
  .banner_estilo .mbr-figure {
    border-radius: .25rem;
    overflow: hidden;
  }
  @media (max-width: 767px) {
    .banner_estilo .typed-text,
    .banner_estilo .mbr-section-subtitle,
    .banner_estilo .mbr-section-text,
    .banner_estilo .mbr-section-btn {
      text-align: center !important;
    }
  }
  .bottom_header {
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: #ffffff;
  }
  .bottom_header .slider-text-two {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: -15px;
    padding: 65px 50px;
  }
  .bottom_header .mbr-section-title {
    color: #232323;
  }
  .bottom_header .mbr-text {
    color: #232323;
    letter-spacing: 5px;
    font-weight: 100;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .bottom_header .slider-text-two {
      outline: 15px solid rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

/* cid-rRO3L4du79 */

/*  
  .cid-rRO3L4du79 {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ffffff;
  }
  @media (max-width: 992px) {
    .cid-rRO3L4du79 {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .cid-rRO3L4du79 .text {
    padding: 0;
  }
  .cid-rRO3L4du79 section {
    position: relative;
  }
  .cid-rRO3L4du79 h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .cid-rRO3L4du79 .mbr-iconfont {
    padding: 0!important;
  }
  .cid-rRO3L4du79 .back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
  }
  .cid-rRO3L4du79 .box {
    background-image: url("../../../assets/images/17.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-rRO3L4du79 .icon-wrap {
    background-color: #149dcc !important;
    width: 80px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .cid-rRO3L4du79 .icon-wrap:hover {
    transform: scale(1.1);
  }
  .cid-rRO3L4du79 .icon-wrap span {
    padding-left: 8px;
  }
  .cid-rRO3L4du79 .mbr-media span {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: all 0.25s;
    color: #ffffff !important;
  }
  .cid-rRO3L4du79 .mbr-media span.mbri-play:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
    transform: translateX(-35%);
  }
  .cid-rRO3L4du79 .modalWindow {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    background-color: rgba(61, 61, 61, 0.65);
    width: 100%;
    height: 100%;
  }
  .cid-rRO3L4du79 .modalWindow .modalWindow-container {
    display: table-cell;
    vertical-align: middle;
  }
  .cid-rRO3L4du79 .modalWindow .modalWindow-video {
    height: calc(44.9943757vw);
    width: 80vw;
    margin: 0 auto;
  }
  .cid-rRO3L4du79 a.close {
    position: absolute;
    right: 4vw;
    top: 4vh;
    color: #ffffff;
    z-index: 5000000;
    font-size: 37px;
    background: #000;
    padding: 20px;
    border-radius: 50%;
  }
  .cid-rRO3L4du79 a.close:hover {
    color: #ffffff;
  }
  */
/* cid-rTBNF1QSoI */
  .card_anuncio {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;
  }
  .card_anuncio .card-title {
    line-height: 1.6;
    padding: 15px 25px;
    background: linear-gradient(to top, #333333, transparent);
    margin: 0;
    text-align: left;
    color: #ffffff;
  }
  .card_anuncio .card-wrapper {
    position: relative;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  }
  .card_anuncio .card-img {
    position: relative;
  }
  .card_anuncio .card-img:hover .card-title {
    background: linear-gradient(to top, #274abb, transparent);
  }
  .card_anuncio .card {
    margin-bottom: 2rem;
    owerflow: hidden;
  }
  .card_anuncio .text-box {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
  }
  .card_anuncio .text-box p {
    margin: 0;
  }
  .card_anuncio .ico2 {
    color: #656565;
    font-size: 1.1rem;
  }
  .card_anuncio .icobig {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    color: #ffffff;
    font-size: 1.9rem;
  }
  .card_anuncio .ico-box {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0px;
  }
  .card_anuncio .ico-box p {
    margin: 0;
  }
  .card_anuncio .ico-wrap {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .card_anuncio .p-box {
    background-color: #f1f1f1;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .card_anuncio .p-box p {
    padding: 10px;
    margin: 0;
    line-height: 1.5;
  }
  .card_anuncio .card-box {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding: 0px;
    transition: all 0.3s;
  }
  .card_anuncio .mbr-section-title {
    color: #656565;
  }
  @media (min-width: 576px) {
    .card_anuncio .card-wrapper {
      display: flex;
    }
    .card_anuncio .card-img {
      width: 30%;
    }
    .card_anuncio .content-wrapper {
      width: 70%;
    }
    .card_anuncio .p-box {
      display: flex;
    }
  }
  @media (max-width: 576px) {
    .card_anuncio .text-box {
      display: block;
    }
    .card_anuncio .mbr-section-btn {
      margin-top: 1rem;
    }
    .card_anuncio .ico-box {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  @media (max-width: 991px) {
    .card_anuncio .card-box {
      bottom: 0px;
    }
    .card_anuncio .p-box {
      padding: 8px;
    }
    .card_anuncio .card-title {
      padding: 10px 15px;
    }
  }
  .card_anuncio .card-text {
    color: #656565;
    text-align: center;
  }
  .card_anuncio .phone {
    color: #656565;
  }
  .card_anuncio .card-title2 {
    color: #333333;
  }
  
/* cid-rTBTx01xXE */
.card_anuncio2 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;
  }
  .card_anuncio2 .card-title {
    line-height: 1.6;
    padding: 15px 25px;
    background: linear-gradient(to top, #333333, transparent);
    margin: 0;
    text-align: left;
    color: #ffffff;
  }
  .card_anuncio2 .card-wrapper {
    position: relative;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  }
  .card_anuncio2 .card-img {
    position: relative;
  }
  .card_anuncio2 .card-img:hover .card-title {
    background: linear-gradient(to top, #274abb, transparent);
  }
  .card_anuncio2 .card {
    margin-bottom: 2rem;
    owerflow: hidden;
  }
  .card_anuncio2 .text-box {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
  }
  .card_anuncio2 .text-box p {
    margin: 0;
  }
  .card_anuncio2 .ico2 {
    color: #656565;
    font-size: 1.1rem;
  }
  .card_anuncio2 .icobig {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    color: #ffffff;
    font-size: 1.9rem;
  }
  .card_anuncio2 .ico-box {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0px;
  }
  .card_anuncio2 .ico-box p {
    margin: 0;
  }
  .card_anuncio2 .ico-wrap {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .card_anuncio2 .p-box {
    background-color: #f1f1f1;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .card_anuncio2 .p-box p {
    padding: 10px;
    margin: 0;
    line-height: 1.5;
  }
  .card_anuncio2 .card-box {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding: 0px;
    transition: all 0.3s;
  }
  .card_anuncio2 .mbr-section-title {
    color: #656565;
  }
  @media (min-width: 576px) {
    .card_anuncio2 .card-wrapper {
      display: flex;
    }
    .card_anuncio2 .card-img {
      width: 30%;
    }
    .card_anuncio2 .content-wrapper {
      width: 70%;
    }
    .card_anuncio2 .p-box {
      display: flex;
    }
  }
  @media (max-width: 576px) {
    .card_anuncio2 .text-box {
      display: block;
    }
    .card_anuncio2 .mbr-section-btn {
      margin-top: 1rem;
    }
    .card_anuncio2 .ico-box {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  @media (max-width: 991px) {
    .card_anuncio2 .card-box {
      bottom: 0px;
    }
    .card_anuncio2 .p-box {
      padding: 8px;
    }
    .card_anuncio2 .card-title {
      padding: 10px 15px;
    }
  }
  .card_anuncio2 .card-text {
    color: #656565;
    text-align: center;
  }
  .card_anuncio2 .phone {
    color: #656565;
  }
  .card_anuncio2 .card-title2 {
    color: #333333;
  }
  /* fim corpo 2 */
/* cid-rzMUuCByZc corpo3*/
.card_anuncio3 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;
  }
  .card_anuncio3 .card-title {
    line-height: 1.6;
    margin: 0;
    text-align: center;
  }
  .card_anuncio3 .card {
    margin-bottom: 2rem;
    owerflow: hidden;
    max-height: 250px;
  }
  .card_anuncio3 .card:hover .card-img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .card_anuncio3 .card:hover .card-wrapper:before {
    opacity: 0.8;
    background: #274abb;
  }
  .card_anuncio3 .card-wrapper {
    overflow: hidden;
    position: relative;
  }
  .card_anuncio3 .card-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    background: #232323;
    opacity: 0.4;
    z-index: 10;
    pointer-events: none;
  }
  .card_anuncio3 .big {
    margin-top: -25%;
  }
  .card_anuncio3 .card-img {
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
  }
  .card_anuncio3 .card-box {
    position: absolute;
    overflow: hidden;
    height: fit-content;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 100;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .card_anuncio3 .mbr-section-title {
    color: #656565;
    text-align: center;
  }
  .card_anuncio3 .card-sub-title {
    text-align: center;
  }
  @media (max-width: 991px) {
    .card_anuncio3 .small {
      margin-top: -25%;
    }
  }
  .card_anuncio3 .mbr-section-sub-title {
    text-align: center;
    color: ;
    }
/* cid-rTBzBwcOOP */
.card_anuncio0 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;
  }
  .card_anuncio0 .card-title {
    line-height: 1.6;
    padding: 15px 25px;
    background: linear-gradient(to top, #333333, transparent);
    margin: 0;
    text-align: left;
    color: #ffffff;
  }
  .card_anuncio0 .card-wrapper {
    position: relative;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  }
  .card_anuncio0 .card-img {
    position: relative;
  }
  .card_anuncio0 .card-img:hover .card-title {
    background: linear-gradient(to top, #a68230, transparent);
  }
  .card_anuncio0 .card {
    margin-bottom: 2rem;
    owerflow: hidden;
  }
  .card_anuncio0 .text-box {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
  }
  .card_anuncio0 .text-box p {
    margin: 0;
  }
  .card_anuncio0 .ico2 {
    color: #656565;
    font-size: 1.2rem;
  }
  .card_anuncio0 .icobig {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .card_anuncio0 .ico-box {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0px;
  }
  .card_anuncio0 .ico-box p {
    margin: 0;
  }
  .card_anuncio0 .ico-wrap {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .card_anuncio0 .p-box {
    background-color: #f1f1f1;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .card_anuncio0 .p-box p {
    padding: 10px;
    margin: 0;
    line-height: 1.5;
  }
  .card_anuncio0 .card-box {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding: 0px;
    transition: all 0.3s;
  }
  .card_anuncio0 .mbr-section-title {
    color: #656565;
  }
  @media (min-width: 576px) {
    .card_anuncio0 .card-wrapper {
      display: flex;
    }
    .card_anuncio0 .card-img {
      width: 30%;
    }
    .card_anuncio0 .content-wrapper {
      width: 70%;
    }
    .card_anuncio0 .p-box {
      display: flex;
    }
  }
  @media (max-width: 576px) {
    .card_anuncio0 .text-box {
      display: block;
    }
    .card_anuncio0 .mbr-section-btn {
      margin-top: 1rem;
    }
    .card_anuncio0 .ico-box {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  @media (max-width: 991px) {
    .card_anuncio0 .card-box {
      bottom: 0px;
    }
    .card_anuncio0 .p-box {
      padding: 8px;
    }
    .card_anuncio0 .card-title {
      padding: 10px 15px;
    }
  }
  .card_anuncio0 .card-text {
    color: #656565;
    text-align: center;
  }
  .card_anuncio0 .phone {
    color: #656565;
  }
  .card_anuncio0 .card-title2 {
    color: #333333;
  }
      /* cid-rStVi1KEaW  */
      .banner_tipo {
        padding-top: 90px;
        padding-bottom: 120px;
        background-image: url("/assets/images/mbr-1920x1022_banner.jpg") !important;
      }
      .banner_tipo .mbr-section-title,
      .banner_tipo .mbr-section-subtitle {
        color:white !important;
        font-family: sans-serif;
      }
      .banner_tipo .mbr-section-text {
        color: #232323;
      }
      .banner_tipo .mbr-text,
      .banner_tipo .typed-text,
      .banner_tipo .mbr-section-text {
        letter-spacing: 0.03rem;
      }
      .banner_tipo .btn {
        margin-left: 4px !important;
      }
      .banner_tipo .animated-element {
        color: #a99a6c;
      }
      .banner_tipo .typed-cursor {
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
        color: #a99a6c;
      }
      .banner_tipo .mbr-figure {
        border-radius: .25rem;
        overflow: hidden;
      }
      @media (max-width: 767px) {
        .banner_tipo .typed-text,
        .banner_tipo .mbr-section-subtitle,
        .banner_tipo .mbr-section-text,
        .banner_tipo .mbr-section-btn {
          text-align: center !important;
        }
      }


  /* <!-- cid-rRORe2mT5t --> */
  /* <!-- cid-rROPJpuSPg --> */
  /* <!-- cid-rROQsGpkBX --> */
  /* <!-- cid-rROQtg1CgQ --> */
  /*  <!-- cid-rROQu37Jh8 --> */
  /* <!-- cid-rROQv2nzkl --> */
  /*  */
  /* <!--  cid-rROJXTsFX6 --> */
