/* cid-rROJXTsFX6 */
.rodape_estilo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .rodape_estilo .content {
      text-align: center;
    }
    .rodape_estilo .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .rodape_estilo .logo-subtitle {
    color: #8d97ad;
  }
  .rodape_estilo .media-wrap {
    padding-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .media-wrap {
      margin-bottom: 1rem;
    }
  }
  .rodape_estilo .media-wrap .mbr-iconfont-logo {
    font-size: 7.5rem;
    color: #f36;
  }
  .rodape_estilo .media-wrap img {
    height: 6rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .rodape_estilo .footer-lower hr {
    margin: 1rem 0;
    border-color: #efefef;
    opacity: .05;
  }
  .rodape_estilo .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .rodape_estilo .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
  .rodape_estilo .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .rodape_estilo .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .rodape_estilo .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  .rodape_estilo .list-item {
    display: flex;
  }
  .rodape_estilo .list-item .mbr-iconfont {
    padding-right: 1rem;
    font-size: 24px;
    color: #188ef4;
  }
  .rodape_estilo ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rodape_estilo ul.list li {
    display: flex;
    word-break: break-all;
  }
  .rodape_estilo ul.list li::before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    padding-right: .5rem;
  }
  .rodape_estilo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .rodape_estilo .content {
      text-align: center;
    }
    .rodape_estilo .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .rodape_estilo .logo-subtitle {
    color: #8d97ad;
  }
  .rodape_estilo .media-wrap {
    padding-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .media-wrap {
      margin-bottom: 1rem;
    }
  }
  .rodape_estilo .media-wrap .mbr-iconfont-logo {
    font-size: 7.5rem;
    color: #f36;
  }
  .rodape_estilo .media-wrap img {
    height: 6rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .rodape_estilo .footer-lower hr {
    margin: 1rem 0;
    border-color: #efefef;
    opacity: .05;
  }
  .rodape_estilo .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .rodape_estilo .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
  .rodape_estilo .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .rodape_estilo .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .rodape_estilo .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  .rodape_estilo .list-item {
    display: flex;
  }
  .rodape_estilo .list-item .mbr-iconfont {
    padding-right: 1rem;
    font-size: 24px;
    color: #188ef4;
  }
  .rodape_estilo ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rodape_estilo ul.list li {
    display: flex;
    word-break: break-all;
  }
  .rodape_estilo ul.list li::before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    padding-right: .5rem;
  }
  .rodape_estilo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .rodape_estilo .content {
      text-align: center;
    }
    .rodape_estilo .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .rodape_estilo .logo-subtitle {
    color: #8d97ad;
  }
  .rodape_estilo .media-wrap {
    padding-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .media-wrap {
      margin-bottom: 1rem;
    }
  }
  .rodape_estilo .media-wrap .mbr-iconfont-logo {
    font-size: 7.5rem;
    color: #f36;
  }
  .rodape_estilo .media-wrap img {
    height: 6rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .rodape_estilo .footer-lower hr {
    margin: 1rem 0;
    border-color: #efefef;
    opacity: .05;
  }
  .rodape_estilo .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .rodape_estilo .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
  .rodape_estilo .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .rodape_estilo .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .rodape_estilo .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  .rodape_estilo .list-item {
    display: flex;
  }
  .rodape_estilo .list-item .mbr-iconfont {
    padding-right: 1rem;
    font-size: 24px;
    color: #188ef4;
  }
  .rodape_estilo ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rodape_estilo ul.list li {
    display: flex;
    word-break: break-all;
  }
  .rodape_estilo ul.list li::before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    padding-right: .5rem;
  }
  .rodape_estilo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .rodape_estilo .content {
      text-align: center;
    }
    .rodape_estilo .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .rodape_estilo .logo-subtitle {
    color: #8d97ad;
  }
  .rodape_estilo .media-wrap {
    padding-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .media-wrap {
      margin-bottom: 1rem;
    }
  }
  .rodape_estilo .media-wrap .mbr-iconfont-logo {
    font-size: 7.5rem;
    color: #f36;
  }
  .rodape_estilo .media-wrap img {
    height: 6rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .rodape_estilo .footer-lower hr {
    margin: 1rem 0;
    border-color: #efefef;
    opacity: .05;
  }
  .rodape_estilo .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .rodape_estilo .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
  .rodape_estilo .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .rodape_estilo .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .rodape_estilo .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  .rodape_estilo .list-item {
    display: flex;
  }
  .rodape_estilo .list-item .mbr-iconfont {
    padding-right: 1rem;
    font-size: 24px;
    color: #188ef4;
  }
  .rodape_estilo ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rodape_estilo ul.list li {
    display: flex;
    word-break: break-all;
  }
  .rodape_estilo ul.list li::before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    padding-right: .5rem;
  }
  .rodape_estilo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .rodape_estilo .content {
      text-align: center;
    }
    .rodape_estilo .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .rodape_estilo .logo-subtitle {
    color: #8d97ad;
  }
  .rodape_estilo .media-wrap {
    padding-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .media-wrap {
      margin-bottom: 1rem;
    }
  }
  .rodape_estilo .media-wrap .mbr-iconfont-logo {
    font-size: 7.5rem;
    color: #f36;
  }
  .rodape_estilo .media-wrap img {
    height: 6rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .rodape_estilo .footer-lower hr {
    margin: 1rem 0;
    border-color: #efefef;
    opacity: .05;
  }
  .rodape_estilo .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .rodape_estilo .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
  .rodape_estilo .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .rodape_estilo .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .rodape_estilo .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  .rodape_estilo .list-item {
    display: flex;
  }
  .rodape_estilo .list-item .mbr-iconfont {
    padding-right: 1rem;
    font-size: 24px;
    color: #188ef4;
  }
  .rodape_estilo ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rodape_estilo ul.list li {
    display: flex;
    word-break: break-all;
  }
  .rodape_estilo ul.list li::before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    padding-right: .5rem;
  }
  .rodape_estilo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .rodape_estilo .content {
      text-align: center;
    }
    .rodape_estilo .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .rodape_estilo .logo-subtitle {
    color: #8d97ad;
  }
  .rodape_estilo .media-wrap {
    padding-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .media-wrap {
      margin-bottom: 1rem;
    }
  }
  .rodape_estilo .media-wrap .mbr-iconfont-logo {
    font-size: 7.5rem;
    color: #f36;
  }
  .rodape_estilo .media-wrap img {
    height: 6rem;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .rodape_estilo .footer-lower hr {
    margin: 1rem 0;
    border-color: #efefef;
    opacity: .05;
  }
  .rodape_estilo .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .rodape_estilo .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
  .rodape_estilo .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .rodape_estilo .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .rodape_estilo .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .rodape_estilo .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  .rodape_estilo .list-item {
    display: flex;
  }
  .rodape_estilo .list-item .mbr-iconfont {
    padding-right: 1rem;
    font-size: 24px;
    color: #188ef4;
  }
  .rodape_estilo ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rodape_estilo ul.list li {
    display: flex;
    word-break: break-all;
  }
  .rodape_estilo ul.list li::before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    padding-right: .5rem;
  }