@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.fa-chevron-left, .fa-chevron-right{
  position: absolute;
  top:40%;
  z-index: 1000; 
  font-size:60px; 
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  padding:10px 10px 10px 10px;
}

.fa-chevron-left{
  left:0px;
}

.fa-chevron-right{
  right:0px;
}

.svg-inline--fa.fa-w-10 {
  width: auto !important;
}

div.cc{
  position: relative;
  overflow: hidden;
}

.icon-position{
  position: absolute;
  left: 23px;
  top: 20px;
}
div.cc > img:first{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

div.cc > img {
  /* display:none; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

div.cc > img.active{
  display: inline-block;
  z-index:101;
}

.jq-selectbox__select {
  padding: 0px 0px 0px 10px !important;
  /* height: 40px !important; */
}

.form-control {
  min-height: 0px !important;
  font-size: 1.0rem !important;
}

.form-group {
  margin-bottom: 0px !important;
}

.cid-rStVi1KEaW{
  /*background-image: url(img\luxo_banner.jpg) !important;*/
}

.cid-rStYVq5WBB .jq-selectbox li.selected {
  background-color: #22626a !important;
}

.cid-rStYVq5WBB .jq-selectbox li:hover {
  background-color: #22626a !important;
}

.jq-selectbox li {
  padding: 10px 5px !important;
}

.cid-rStYVq5WBB .input-group-btn .btn {
  padding: 0.3rem 30px;
}

.col-lg-2, .col-lg-3{
  padding-right: 0px !important;
}


.cid-rStYVq5WBB .input-group-btn .btn {
  padding: 5px 20px 5px 20px !important;
}

div.description{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  margin: 0;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  list-style-type: none;
  color: #998;
  padding: 0px 20px 0px 20px;
}

div.p-box {
  padding: 0px !important;
  margin-top: 5px !important;
}

.cid-rRIRsh7Jhj .navbar {
  background: white !important;
}

a.text-white{
  color: #343a40 !important;
}

p.widget-title.mbr-fonts-style.display-4{
  color: #343a40 !important;
  font-weight: 400;
}

p.widget-text.mbr-fonts-style.display-4{
  color: #343a40 !important;
  /* font-weight: 100; */
}

